body {
   background-color: aquamarine;

   td {
      border: 2px solid black;
   }

   a {
      background-color: rgb(248, 152, 152);
   }

   p {
      background-color: rgb(138, 138, 255);
   }

   div {
      background-color: rgb(255, 255, 146);
   }
}